Flask==3.0.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
PyMySQL==1.1.0
cryptography==41.0.7
PyQt5==5.15.11
PyQtWebEngine==5.15.7
python-dotenv==1.0.0
Werkzeug==3.0.1
Jinja2==3.1.2
pyserial==3.5
python-telegram-bot==21.10
